html, body { background-color: magenta; }

body { font-family: 'Fira Sans'; }

.inline {
    display: inline-block!important;
    margin: 0 .5em!important;
}

.fade {
    -webkit-transition-duration: .5s!important;
    -o-transition-duration: .5s!important;
    transition-duration: .5s!important;
}

.transition {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#now-playing-visualization {
    position: absolute;
    bottom: 20px;
    right: 15px;
}

#now-playing-container {
    display: inline-block;
    margin-bottom: 0;
    position: absolute;
    bottom: 20px;
    left: 10px;
}

#cover-container, #cover {
    width: 130px;
    height: 130px;
}

#now-playing.mini #cover-container, #now-playing.mini #cover {
    width: 30px;
    height: 30px;
}

#cover-container {
    padding: 0;
    background: linear-gradient(to right, magenta 0%, magenta 50%, #333 50%, #333 100%);
    position: relative;
    z-index: 1;
}

#cover-container-inner {
    border-radius: 100%;
    border: 6px #333;
    border-style: ridge;
    position: relative;
    background-color: magenta;
    overflow: hidden;
}

#cover-spinner {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

#cover {
    z-index: 2;
}

#now-playing.mini #cover { border-width: 2px; }

#now-playing-content {
    width: auto;
    vertical-align: middle;
    overflow: visible;
    background-color: #333;
    padding: 0 15px 0 10px;
    border-radius: 0 15px 15px 0;
    line-height: 1;
}

#now-playing.mini #now-playing-content { padding-left: 6px; }

#title, .artist { color: #eee; }

#title {
    margin: 0;
    display: table-cell;
    font-weight: bold;
    font-size: 15px;
}

#now-playing-transition-right-container { display: table; }

#now-playing-transition-right { display: table-cell; }

#now-playing-transition-right-wrapper {
    width: 0;
    opacity: 0;
    height: 14px;
    overflow: hidden;
}

#now-playing.mini #now-playing-transition-right-wrapper {
    opacity: 1;
    padding-left: 4px;
    width: 100%;
}

#now-playing-transition-right-wrapper p {
    display: inline;
    margin: 0;
}

#now-playing-transition-right-wrapper p:before { content: " · "; }

#now-playing-transition {
    margin-top: 10px;
    overflow: hidden;
    height: 62px;
    opacity: 1;
}

#now-playing.mini #now-playing-transition {
    height: 0px;
    margin-top: 0px;
    opacity: 0;
}

.album { color: #ccc; }

.extra {
    color: #aaa;
    margin: 0;
}
